
.DS_Store
.gitattributes
.vagrant/rgloader/loader.rb
.vagrant/machines/kmaster/virtualbox/vagrant_cwd
.vagrant/machines/kmaster/virtualbox/private_key
.vagrant/machines/kmaster/virtualbox/index_uuid
.vagrant/machines/kmaster/virtualbox/id
.vagrant/machines/kmaster/virtualbox/creator_uid
.vagrant/machines/kmaster/virtualbox/box_meta
.vagrant/machines/kmaster/virtualbox/action_set_name
.vagrant/machines/kmaster/virtualbox/action_provision
.vagrant/bundler/global.sol
*.log
.vagrant/machines/knode2/virtualbox/vagrant_cwd
.vagrant/machines/knode2/virtualbox/synced_folders
.vagrant/machines/knode2/virtualbox/private_key
.vagrant/machines/knode2/virtualbox/index_uuid
.vagrant/machines/knode2/virtualbox/id
.vagrant/machines/knode2/virtualbox/creator_uid
.vagrant/machines/knode2/virtualbox/box_meta
.vagrant/machines/knode2/virtualbox/action_set_name
.vagrant/machines/knode2/virtualbox/action_provision
.vagrant/machines/knode1/virtualbox/vagrant_cwd
.vagrant/machines/knode1/virtualbox/synced_folders
.vagrant/machines/knode1/virtualbox/private_key
.vagrant/machines/knode1/virtualbox/index_uuid
.vagrant/machines/knode1/virtualbox/id
.vagrant/machines/knode1/virtualbox/creator_uid
.vagrant/machines/knode1/virtualbox/box_meta
.vagrant/machines/knode1/virtualbox/action_set_name
.vagrant/machines/knode1/virtualbox/action_provision
.vagrant/machines/kmaster/virtualbox/synced_folders
/.idea/.gitignore
/.idea/aws.xml
